adjustText==1.3.0
ai-data-science-team==0.0.0.9016
aiohappyeyeballs==2.6.1
aiohttp==3.11.14
aiosignal==1.3.2
altair==5.5.0
annotated-types==0.7.0
anthropic==0.49.0
antropy==0.1.9
anyio==4.9.0
appdirs==1.4.4
arch==7.2.0
argcomplete==3.6.2
arxiv==2.1.3
asgiref==3.8.1
asttokens==3.0.0
attrs==25.3.0
backoff==2.2.1
basemap-data==1.3.2
bcrypt==4.3.0
beautifulsoup4==4.13.3
blinker==1.9.0
blis==1.3.0
blockbuster==1.5.24
Brotli @ file:///C:/b/abs_c415aux9ra/croot/brotli-split_1736182803933/work
bs4==0.0.2
build==1.2.2.post1
cachetools==5.5.2
catalogue==2.0.10
certifi==2025.1.31
cffi==1.17.1
charset-normalizer==3.4.1
chroma-hnswlib==0.7.6
chromadb==0.6.3
click==8.1.8
cloudpathlib==0.21.1
cloudpickle==3.1.1
colorama==0.4.6
coloredlogs==15.0.1
comm==0.2.2
confection==0.1.5
contourpy @ file:///C:/b/abs_f2u2o_8s9g/croot/contourpy_1732540071787/work
cryptography==44.0.2
cycler @ file:///tmp/build/80754af9/cycler_1637851556182/work
cymem==2.0.11
dataclasses-json==0.6.7
debugpy==1.8.13
decorator==5.2.1
defusedxml==0.7.1
Deprecated==1.2.18
dill==0.4.0
distro==1.9.0
durationpy==0.9
et_xmlfile==2.0.0
executing==2.2.0
fastapi==0.115.12
fastjsonschema==2.21.1
fastmcp==0.4.1
feedparser==6.0.11
filelock==3.18.0
flatbuffers==25.2.10
fonttools @ file:///C:/b/abs_4crkswws2h/croot/fonttools_1737040078745/work
forbiddenfruit==0.1.4
frozenlist==1.5.0
fsspec==2024.12.0
geojson==2.5.0
gitdb==4.0.12
GitPython==3.1.44
google-auth==2.39.0
googleapis-common-protos==1.70.0
gradio_client==1.10.1
gradio_tools==0.0.9
grandalf==0.8
greenlet==3.1.1
grpcio==1.71.0
h11==0.14.0
holidays==0.73
httpcore==1.0.7
httptools==0.6.4
httpx==0.28.1
httpx-sse==0.4.0
huggingface-hub==0.30.2
humanfriendly==10.0
idna==3.10
importlib_metadata==8.6.1
importlib_resources==6.5.2
ipykernel==6.29.5
ipython==9.0.2
ipython_pygments_lexers==1.1.1
jedi==0.19.2
Jinja2==3.1.6
jiter==0.9.0
joblib==1.4.2
json_repair==0.39.1
jsonpatch==1.33
jsonpointer==3.0.0
jsonschema==4.23.0
jsonschema-specifications==2025.4.1
jsonschema_rs==0.29.1
jupyter_client==8.6.3
jupyter_core==5.7.2
kiwisolver @ file:///C:/b/abs_faf90xet7a/croot/kiwisolver_1737040915779/work
kubernetes==32.0.1
langchain==0.3.21
langchain-anthropic==0.3.10
langchain-chroma==0.2.3
langchain-community==0.3.20
langchain-core==0.3.56
langchain-experimental==0.3.4
langchain-mcp-adapters==0.0.6
langchain-openai==0.3.11
langchain-tavily==0.1.5
langchain-text-splitters==0.3.7
langcodes==3.5.0
langgraph==0.3.20
langgraph-api==0.1.21
langgraph-checkpoint==2.0.25
langgraph-checkpoint-postgres==2.0.21
langgraph-cli==0.2.7
langgraph-prebuilt==0.1.7
langgraph-runtime-inmem==0.0.7
langgraph-sdk==0.1.63
langgraph-supervisor==0.0.22
langgraph-swarm==0.0.11
langsmith==0.3.19
language_data==1.3.0
llvmlite==0.44.0
marisa-trie==1.2.1
markdown-it-py==3.0.0
MarkupSafe==3.0.2
marshmallow==3.26.1
matplotlib==3.10.0
matplotlib-inline==0.1.7
mcp==1.8.1
mcp-neo4j-cypher==0.2.1
mdurl==0.1.2
missingno==0.5.2
mizani==0.13.5
mkl-service==2.4.0
mkl_fft @ file:///C:/Users/dev-admin/mkl/mkl_fft_1730823082242/work
mkl_random @ file:///C:/Users/dev-admin/mkl/mkl_random_1730822522280/work
mmh3==5.1.0
mpmath==1.3.0
multidict==6.2.0
multiprocess==0.70.18
murmurhash==1.0.13
mypy==1.15.0
mypy-extensions==1.0.0
narwhals==1.40.0
nbformat==5.10.4
neo4j==5.28.1
neo4j-graphrag==1.7.0
nest-asyncio==1.6.0
networkx==3.4.2
numba==0.61.2
numpy==2.3.0
oauthlib==3.2.2
onnxruntime==1.21.1
openai==1.69.0
openpyxl==3.1.5
opentelemetry-api==1.32.1
opentelemetry-exporter-otlp-proto-common==1.32.1
opentelemetry-exporter-otlp-proto-grpc==1.32.1
opentelemetry-instrumentation==0.53b1
opentelemetry-instrumentation-asgi==0.53b1
opentelemetry-instrumentation-fastapi==0.53b1
opentelemetry-proto==1.32.1
opentelemetry-sdk==1.32.1
opentelemetry-semantic-conventions==0.53b1
opentelemetry-util-http==0.53b1
orjson==3.10.16
ormsgpack==1.9.0
overrides==7.7.0
packaging==23.2
pandas==2.2.3
pandas_flavor==0.7.0
parso==0.8.4
pathos==0.3.4
patsy==1.0.1
pillow @ file:///C:/b/abs_68t826txdy/croot/pillow_1744613085333/work
pipx==1.7.1
platformdirs==4.3.7
plotly==6.1.1
plotnine==0.14.5
polars==1.30.0
posthog==4.0.1
pox==0.3.6
ppft==1.7.7
preshed==3.0.10
prompt_toolkit==3.0.50
propcache==0.3.1
protobuf==5.29.4
psutil==7.0.0
psycopg==3.2.9
psycopg-pool==3.2.6
pure_eval==0.2.3
pyarrow==20.0.0
pyasn1==0.6.1
pyasn1_modules==0.4.2
pycparser==2.22
pydantic==2.10.6
pydantic-settings==2.8.1
pydantic_core==2.27.2
pydeck==0.9.1
pyee==11.1.1
Pygments==2.19.1
PyJWT==2.10.1
pyowm==3.3.0
pyparsing @ file:///C:/b/abs_40z8gyj9wi/croot/pyparsing_1731445739241/work
pypdf==5.6.0
PyPika==0.48.9
pyppeteer==2.0.0
pyproj==3.6.1
pyproject_hooks==1.2.0
PyQt6==6.7.1
PyQt6_sip @ file:///C:/b/abs_f47pmp6xmn/croot/pyqt-split_1744804513582/work/pyqt_sip
pyreadline3==3.5.4
pyshp==2.3.1
PySocks==1.7.1
python-dateutil @ file:///C:/b/abs_3au_koqnbs/croot/python-dateutil_1716495777160/work
python-dotenv==1.1.0
python-multipart==0.0.20
pytimetk==1.2.3
pytz==2025.2
pywin32==310
PyYAML==6.0.2
pyzmq==26.3.0
rank-bm25==0.2.2
RapidFuzz==3.13.0
referencing==0.36.2
regex==2024.11.6
requests==2.32.3
requests-oauthlib==2.0.0
requests-toolbelt==1.0.0
rich==14.0.0
rpds-py==0.25.1
rsa==4.9.1
safetensors==0.5.3
scikit-learn==1.6.1
scipy==1.15.2
seaborn==0.13.2
sentence-transformers==4.1.0
sgmllib3k==1.0.0
shellingham==1.5.4
sip @ file:///C:/b/abs_5cto136kse/croot/sip_1738856220313/work
six @ file:///C:/b/abs_149wuyuo1o/croot/six_1744271521515/work
smart-open==7.1.0
smmap==5.0.2
sniffio==1.3.1
soupsieve==2.6
spacy==3.8.7
spacy-legacy==3.0.12
spacy-loggers==1.0.5
SQLAlchemy==2.0.40
srsly==2.5.1
sse-starlette==2.1.3
stack-data==0.6.3
starlette==0.46.1
statsmodels==0.14.4
streamlit==1.45.1
structlog==25.3.0
supersmoother==0.4
sweetviz==2.3.1
sympy==1.14.0
tavily-python==0.5.3
tenacity==9.0.0
thinc==8.3.6
threadpoolctl==3.6.0
tiktoken==0.9.0
timebasedcv==0.3.0
tokenizers==0.21.1
toml==0.10.2
torch==2.7.1
tornado @ file:///C:/b/abs_7cyu943ybx/croot/tornado_1733960510898/work
tqdm==4.67.1
traitlets==5.14.3
transformers==4.52.4
tsfeatures==0.4.5
typer==0.15.2
types-PyYAML==6.0.12.20250516
typing-inspect==0.9.0
typing_extensions==4.13.0
tzdata==2025.2
unicodedata2 @ file:///C:/b/abs_dfnftvxi4k/croot/unicodedata2_1736543771112/work
unicorn==2.1.3
urllib3==1.26.20
userpath==1.9.2
uvicorn==0.34.0
wasabi==1.1.3
watchdog==6.0.0
watchfiles==1.0.5
wcwidth==0.2.13
weasel==0.4.1
websocket-client==1.8.0
websockets==10.4
wikipedia==1.4.0
wrapt==1.17.2
xarray==2025.4.0
xgboost==3.0.1
xxhash==3.5.0
yarl==1.18.3
zipp==3.21.0
zstandard==0.23.0
